job_recommender_models/tfidf_matrix.npz filter=lfs diff=lfs merge=lfs -text
job_recommender_models/processed_jobs.csv filter=lfs diff=lfs merge=lfs -text
job_recommender_models/reduced_tfidf_matrix.npy filter=lfs diff=lfs merge=lfs -text
jobstreet_all_job_dataset.csv filter=lfs diff=lfs merge=lfs -text
